.rsmainslider__container {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
}

.rsmainslider__main {
  max-width: 563px;
  z-index: 1;
  padding: 0;
}

.rsmainslider__image {
  min-width: initial;
}

.rsmainslider__wrapper {
  min-height: 362px;
  padding: 40px 40px 50px 40px;
}

.rsmainslider__image {
  min-width: initial;
  position: absolute;
  right: 0;
  top: 0;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
}

.rsmainslider__title h1 {
  color: #000;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rsmainslider__title .rsmainslider__name {
  color: #000;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rsmainslider__text {
  margin: 32px 0;
}
.rsmainslider__text p {
  color: var(--new_grey_type, #252838);
  font-family: Formular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */

  margin: 0;
}

.btn_main_v5 {
  border-radius: 10px;
  padding: 16px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.rsmainslider__buttons {
  margin-bottom: 24px;
  position: static;
}
.rsmainslider .slick-dots {
  bottom: 30px;
}

.rsmainslider__arrow {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  bottom: 20px;
  cursor: pointer;
}

.rsmainslider__arrowleft {
  left: 40px;
}

.rsmainslider__arrowright {
  right: 40px;
}
.rsmainslider {
  padding-bottom: 64px;
}
.rsblock h2 {
  color: var(--type-black, #000);
  margin-bottom: 26px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 126.667% */
  letter-spacing: -0.3px;
}

.rsgrid__items_v5 .rsservice__header {
  display: block;
}
.rsgrid__items_v5 .rsservice__name_small {
  display: block;
  color: var(--type-black, #000);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 118.182% */
  height: 48px;
  margin-top: 15px;
}
.rsgrid__items_v5 .rsservice__header {
  margin-bottom: 10px;
}
.rsgrid__items_v5 .listblock__text {
  color: var(--new_grey_type, #252838);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.rsgrid__items_v5 .rsservice__main {
  margin-bottom: 20px;
}
.rsgrid__items_v5 .rsservice__button {
  position: static;
}
.btn_main_v5 {
  line-height: 50px;
  height: 52px;
  padding: 0 40px;
}
.rsmainslider__buttons .btn_main {
  min-width: 255px;
}

.rsgrid__items_v5 .rsservice__content {
  padding-bottom: 0;
}
.rsgrid__items_v5 .rsgrid__item .card {
  padding: 32px 32px 0 32px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
}

.card__footer a.cardfooter__link {
  width: calc(100% + 64px);
  margin: 0 -32px;
  border-top: 1px solid var(--Gray-Light-BG, #f1f3f8);
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 32px;
}
.card__footer a.cardfooter__link span {
  color: var(--Blue, #4563ff);
  text-align: center;
  /* c2_regular */
  font-family: Formular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
}

.card__footer {
  margin-top: 20px;
}

.rsgrid__items_v5 .rsservice__name {
  height: 48px;
  color: var(--type-black, #000);
  font-family: Formular;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  display: block;
}
.rsgrid__items_v5 .rsservice__image {
  height: 96px;
}

.listblock__text {
  min-height: 80px;
}

.bannerblock_v5 {
  border-radius: 16px;
  background: var(--ffffff, #fff);
  padding: 32px 5px 32px 32px;
}
.bannerblock_v5--columns {
  display: flex;
  align-items: center;
}
.bannerblock_v5__title {
  color: var(--, #000);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 32px;
  line-height: normal;
}

.bannerblock_v5__text {
  color: var(--, #000);
  margin-bottom: 26px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.bannerblock_v5__list {
  color: var(--, #000);
  font-family: Formular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.bannerblock_v5__list li {
  padding-left: 26px;
  position: relative;
  margin-bottom: 10px;
  color: var(--, #000);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.bannerblock_v5__text2 {
  margin-bottom: 32px;
}

.bannerblock_v5__list li:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 8px;
  background: #aeb5d1;
}
.btn_border_v5 {
  color: var(--new_grey_type, #252838);
  font-family: Formular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  border-radius: 10px;
  border: 1px solid #4563ff;
  height: 52px;
  line-height: 50px;
}
.btn_border_v5:hover {
  color: #fff;
}
.bannerblock_v5__buttons .btn_main {
  min-width: 255px;
  margin-right: 16px;
}
.bannerblock_v5__buttons .btn_main:last-child {
  margin-right: 0;
}
.bannerblock_v5 {
  position: relative;
}
.bannerblock_v5__imageright {
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
.bannerblock_v5__buttons {
  display: flex;
}
.bannerblock_v5__content--left {
  position: relative;
  z-index: 1;
}

.infslider_v5 {
}
.infslider_v5__container {
}
.infslider_v5__slider {
}
.infslider_v5__slide {
}
.infslider_v5__item {
  display: flex;
}
.infslider_v5__image {
  min-width: 40px;
  max-width: 40px;
}
.infslider_v5__text {
  color: var(--7-b-7794, #7b7794);
  font-family: Formular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  margin-left: 10px;
}
/* the slides */
.infslider_v5 .slick-slide {
  padding: 0 10px;
}
.rsblock_v5 {
  padding-bottom: 64px;
}
/* the parent */
.infslider_v5 .slick-list {
  margin: 0 -10px;
}

.style_v5 .slick-dots li {
  margin: 0 5px;
}

.style_v5 .slick-dots li {
  width: 10px;
  height: 10px;
}

.style_v5 .slick-dots li button {
  width: 10px;
  height: 10px;
  background: #aeb5d1;
  opacity: 0.6;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.style_v5 .slick-dots li button:before {
  display: none;
}

.style_v5 .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background: #7b7794;
  opacity: 1;
  border-radius: 50%;
  padding: 0;
}

.style_v5 .slick-dots {
  bottom: -60px;
}
.rsgrid__item_large {
  width: 66.66666%;
}
.rsblock_v5 .rsgrid__items {
  margin: 0 -15px;
}
.rsblock_v5 .rsgrid__item {
  padding: 0 15px 0 15px;
}
.rsgrid__item_large {
  margin: 44px 0 0 0;
}
.rsgrid__item_type2 {
  margin: 44px 0 0 0;
}
.rsservice__flex {
  display: flex;
}
.rsreview__arrows {
  top: -60px;
}

.rsreviewcard {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
}

.rsgrid__item_large .rsservice__name {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 120% */
  letter-spacing: -0.3px;
  margin-bottom: 20px;
  height: unset;
  margin-top: 0;
}
.rsgrid__item_large .listblock__text {
  color: var(--, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.rsgrid__item_large .rsservice__main {
  margin-right: 38px;
  height: unset;
  min-height: unset;
  max-width: 369px;
}
.rsgrid__item_large .rsservice__flex {
  height: calc(100% - 72px);
}
.rsblock {
  padding-bottom: 64px;
}
.rsreview {
  padding-top: 0;
}
.blueblock h2 {
  color: var(--ffffff, #fff);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blueblock--app .blueblock__imageright {
  padding-right: 0;
}
.blueblock--app .blueblock__main {
  width: 447px;
}

.blueblock--app .blueblock__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 371px;
}
.blueblock--app .blueblock__imgsmall {
  margin-top: 67px;
}
.blueblock--app .blueblock__imageright {
  margin-right: -50px;
}
.blueblock--app .blueblock__content.blueblock__content--left {
  position: static;
}
.blueblock--app .blueblock__buttons {
  position: absolute;
  bottom: 60px;
  left: 32px;
  z-index: 1;
}
.questionwrapper {
  border: none;
  border-radius: 10px;
  background: var(--ffffff, #fff);
  box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
  margin-bottom: 26px;
  padding: 32px 32px 32px 32px;
}
.accordion__title {
  padding-top: 0;
  background-size: initial;
  background-image: url(/images/expand_more.svg);
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-position: center right 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.accordion__title.active {
  background-image: url(/images/expand_less.svg);
  background-repeat: no-repeat;
  background-position: center right 0;
}
.accordion__content {
  padding: 30px 0;
  width: calc(100% + 64px);
  padding: 0 64px 0 32px;
  margin: 0 -32px;
  margin-top: 32px;
  padding-top: 32px;
}
.accordion__title.active + .accordion__content {
  border-top: 1px solid #ebebeb;
}
.accordion__content p {
  color: var(--new_grey_type, #252838);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.accordeonblock {
  padding: 0;
}
.accordion__content p {
  margin: 0;
}
.accordeonblock {
  padding-bottom: 34px;
}

.mainfooter__links li a {
  color: var(--ffffff, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}

.mainfooter__title {
}
.mainfooter__left {
  width: calc(100% - 240px);
  padding-right: 80px;
}
.mainfooter__menublock {
  width: 100%;
}
.footer .phones {
  margin: 0 0 32px 0;
}
.footer .phone {
  display: block;
  padding: 0;
}

.mainfooter__right .mainfooter__nav {
  padding: 0;
}

.mainfooter__menu {
  position: relative;
  padding-bottom: 40px;
}

.mainfooter__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mainfooter__bottom .mainfooter__title {
  margin-bottom: 0;
}

.mainfooter__bottom a {
  white-space: nowrap;
}

.footer__main {
  padding-bottom: 40px;
}

.mainmenu__header {
  box-shadow: 0px 4px 16px 0px rgba(115, 100, 178, 0.1);
  padding: 0 16px;
  display: none;
}
[data-tabscontent] {
  display: none;
}

[data-tabscontent].active {
  display: block;
}

.extlink {
  position: relative;
  padding-right: 30px;
}

.extlink:after {
  content: url(../img/extlink.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mainmenumob__button .link_blue.extlink {
  display: block;
  width: 100%;
  text-decoration: none;
}

.btn_main_v5border {
  background: #fff;
  border: 1px solid #4563ff;
  color: #4563ff;
}

.mainmenumob__button a {
  margin-bottom: 18px;
}
.mainmenumob__button a:last-child {
  margin-bottom: 0;
}

.rsmainslider_static {
  padding-bottom: 30px;
}
.rsmainslider_static .rsmainslider__wrapper {
  min-height: 384px;
}

.rsmainslider__wrapper {
  border-radius: 10px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pkrvalue-params li {
  margin-bottom: 6px;
}

.blueblock_pkr h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.blueblock_pkr .blueblock__text_small p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.btn_main_white_v5 {
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
  height: 52px;
  line-height: 50px;
}

.blueblock_pkr .blueblock__wrapper--columns .blueblock__buttons a {
  height: 52px;
  line-height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  min-width: 288px;
}
span.pkrvalue-params_right_score > span {
  border-radius: 10px;
  padding: 2px 10px;
  display: block;
}

.pkrvalue-params_score {
  margin-bottom: 32px;
}
.blueblock_pkr .blueblock__wrapper--columns .blueblock__main {
  margin-bottom: 75px;
}
.blueblock_pkr .blueblock__wrapper {
  padding: 62px 32px 59px 32px;
}

.caclcontent__icon_redbg {
  background: #ff0029;
}

.calccontent__items_v5 .caclcontent__icon {
  margin-bottom: 20px;
}
.calccontent__items_v5 .calccontent__text {
  color: var(--new_grey_type, #252838);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.calccontent__items_v5 .calccontent__item {
  height: 100%;
  padding-right: 25px;
}
.calccontent__items_v5 .cols3 {
  margin: 0 -10px;
}
.calccontent__items_v5 .cols3__col {
  padding: 0 10px;
}
.calccontent__items_v5 {
  margin-top: 0;
  margin-bottom: 0;
}

.grayblock_v5 h2 {
  margin-top: 0;
  margin-bottom: 26px;
}

.listblock_v5 {
  border-radius: 10px;
  background: var(--ffffff, #fff);
  box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
}

.listblock_v5 .listblock__green li {
  background-image: url(/img/check_circle_v5.svg);
  background-position: left top;
  background-repeat: no-repeat;
}
.listblock_v5 .listblock__red li {
  background-image: url(/img/cancel_v5.svg);
  background-position: left top;
  background-repeat: no-repeat;
}
.listblock_v5 .listblock__title {
  color: var(--type-black, #000);
  margin-bottom: 20px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.listblock_v5 li {
  color: #252838;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.defaultcol_2cols .row > div {
  padding: 0 16px;
}
.defaultcol_2cols_v5 li {
  background-image: none;
  position: relative;
  padding-left: 24px;
  color: #252838;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.defaultcol_2cols_v5 li:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #aeb5d1;
  border-radius: 50%;
  top: 6px;
  left: 6px;
}
.defaultcol_2cols_v5 .listblock__list li:last-child {
  margin-bottom: 0;
}
.grayblock_v5.pb-40 {
  padding-bottom: 40px;
}

.blueblock_process_v5 .blueblock__wrapper--columns {
  padding: 32px 50px;
}
.blueblock_process_v5 .blueblock__content--left {
  width: 596px;
}

.blueblock_process_v5 h2 {
  color: var(--ffffff, #fff);
  margin-bottom: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 126.667% */
  letter-spacing: -0.3px;
  position: absolute;
  top: 32px;
  left: 50px;
}
.btn_main_white_blue {
  color: #4563ff;
}
.guideslider_v5 .guideslider__left {
  padding-top: 155px;
}
.blueblock_process_v5 .guideslider__container .slick-dots {
  top: 85px;
}

.blueblock_process_v5 .guideslider__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.blueblock_process_v5 .blueblock__main {
  margin-bottom: 0;
}

.blueblock_process_v5 .blueblock__wrapper--columns {
  align-items: unset;
}

.blueblock_process_v5 .blueblock__buttons {
  position: absolute;
  bottom: 42px;
  left: 50px;
}
.blueblock_process_v5 .blueblock__buttons a {
  height: 52px;
  line-height: 50px;
}
.btn_main_white_v5 {
  height: 52px !important;
  line-height: 50px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  min-width: 288px !important;
}
.pb-0 {
  padding-bottom: 0;
}
.blueblock_process_v5 .blueblock {
  border-radius: 16px;
  overflow: hidden;
}
.guideslider_v5 {
  border-radius: 16px;
  background: #4563ff;
  padding: 32px 50px;
  overflow: hidden;
}
.blueblock .guideslider__container .slick-dots:after {
}
.guideslider__container.guideslider_v5 {
  padding-top: 32px;
}
.accordeonblock h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 126.667% */
  letter-spacing: -0.3px;
  margin-bottom: 26px;
  margin-top: 0;
}
@media (max-width: 999px) {
  span.pkrvalue-params_right_score > span {
    padding: 0 4px;
  }

  .mainmenumob__button_v5 {
    position: absolute;
    bottom: 17px;
    left: 32px;
    right: 32px;
    width: calc(100% - 64px);
    z-index: 3;
    margin: 0;
    padding: 15px 0;
    background: #fff;
  }
  .mainmenu {
    overflow: auto;
    position: fixed;
  }
  .mainmenu__tabs {
    max-height: calc(100vh - 165px);
    overflow: auto;
  }
  .mainmenumob__button_v5 .btn_main_v5 {
    display: block;
    width: 100%;
  }
  .mainmenumob ul {
    margin-bottom: 14px;
  }
  .mainmenu__mobilemenu {
    margin-top: 20px;
  }
  .accordmenu__title {
    position: relative;
    color: var(--new_grey_type, #252838);
    font-family: Formular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
  }
  .accordmenu__title:after {
    position: absolute;
    content: url(/images/expand_more.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordmenu__title.active:after {
    position: absolute;
    content: url(/images/expand_less.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordmenu__title {
    margin-bottom: 10px;
  }
  .accordmenu {
    margin-bottom: 19px;
  }
  .mainmenu__content--mobile ul li a {
    color: var(--new_grey_type, #252838);
    font-family: Formular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
    margin-bottom: 18px;
  }
  .mainmenu__content--mobile ul.allmenu__lvl1 li a {
    color: var(--new_grey_type, #252838);
    font-family: Formular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
    margin-bottom: 10px;
  }
  .mainmenu__content--mobile ul.allmenu__lvl1 li {
    list-style: disc;
    margin-left: 20px;
  }
  .mainmenumob ul {
    margin-bottom: 18px;
  }
  .mainmenu__tabs {
    padding: 32px;
  }
  .tabs__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(206, 207, 218, 0.5);
  }
  .tabs__nav {
    color: var(--new_grey_type, #252838);
    font-family: Formular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
  }
  .tabs__nav.active {
    color: #4563ff;
  }
  .mainmenu {
    top: 0;
    padding: 0;
    background: #fff;
    height: 100vh;
  }
  .accordmenu__title,
  .accordmenu__title a {
    color: #000;
  }
  .burgermenu--open {
    display: block !important;
  }
  .burgermenu--close {
    display: none !important;
  }
  .mainmenu__header {
    display: block;
  }
  .mainmenu__header .burgermenu--close {
    display: block !important;
  }
  .footer__main {
    padding: 29px 0;
  }
  .footer__mobilemenublock {
    margin-bottom: 30px;
  }
  .footerbottom__socials {
    order: -1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .questionwrapper {
    padding: 20px 20px 20px 20px;
  }
  .accordion__title {
    background-position: center right 0;
  }
  .accordion__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    letter-spacing: -0.16px;
  }
  .accordion__content {
    width: calc(100% + 40px);
    padding: 20px 40px 20px 20px;
    margin: 0 -20px;
    margin-top: 20px;
  }
  .accordion__content p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  h2.vopros {
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--type-black, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    letter-spacing: -0.36px;
  }
  .blueblock--app .blueblock__buttons {
    position: static;
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
  }

  .blueblock--app .blueblock__main {
    width: 100%;
  }
  .rsblock {
    margin-bottom: 0;
    padding-bottom: 32px;
  }
  .onlymobile {
    display: block;
  }
  .container {
    padding: 0 16px;
  }

  .rsblock_v5 {
    padding-bottom: 32px;
    margin-bottom: 0;
  }
  .style_v5 .slick-dots {
    bottom: -30px;
  }
  .infslider_v5__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .bannerblock_v5__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .bannerblock_v5 .card__footer {
    width: 100%;
  }

  .bannerblock_v5 .card__footer a.cardfooter__link {
    width: calc(100% + 28px);
    margin: 0 -14px;
  }
  .bannerblock_v5__text2 {
    margin-bottom: 20px;
  }
  .bannerblock_v5__buttons {
    margin: 0;
    width: 100%;
  }
  .bannerblock_v5__buttons .btn_main {
    margin: 0;
    width: 100%;
  }
  .bannerblock_v5__text br {
    display: none;
  }
  .bannerblock_v5__list li {
    font-size: 14px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .bannerblock_v5__imageright {
    position: static;
    order: -1;
    transform: none;
    display: block;
    margin-left: -50px;
  }
  .bannerblock_v5__title {
    margin-bottom: 0;
  }
  .rsblock .bannerblock_v5 h2 {
    margin-top: 6px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.44px;
    margin-bottom: 20px;
  }
  .block_protect_v5.bannerblock_v5 {
    padding-bottom: 0;
  }
  .bannerblock_v5 .card__footer a.cardfooter__link {
    padding-left: 14px;
  }
  .bannerblock_v5 {
    padding: 24px 14px 16px 14px;
    width: 100%;
    overflow: hidden;
  }
  .bannerblock_v5 .card__footer a.cardfooter__link span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
  }
  .bannerblock_v5--columns {
    flex-wrap: wrap;
  }
  .bannerblock_v5__buttons {
    flex-wrap: wrap;
  }
  .rsmainslider__container {
    border-radius: 10px;
    background: var(--White, #fff);
    box-shadow: 0px 4px 4px 0px rgba(115, 100, 178, 0.1);
  }
  .rsmainslider__wrapper {
    background: none;
    box-shadow: none;
    padding: 24px 20px 24px 20px;
  }
  .rsmainslider__title .rsmainslider__name,
  .rsmainslider__title h1 {
    color: var(--, #000);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.44px;
    display: block;
    width: 100%;
  }
  .rsmainslider__arrow {
    display: none !important;
  }
  .rsmainslider .slick-dots {
    bottom: -26px;
  }
  .rsmainslider__buttons {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
  }
  .rsmainslider__main {
    /* padding-bottom: 50px; */
    min-height: 100%;
    padding-bottom: 40px;
  }
  .rsmainslider__wrapper {
    min-height: 320px;
    height: 100%;
  }
  .rsmainslider__buttons .btn_main.btn_main_v5,
  a.btn_main_v5,
  a.btn_main_v5 {
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
    border-radius: 10px;
    font-size: 14px !important;
    padding: 0 !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    height: 50px !important;
    line-height: 48px !important;
  }
  .rsmainslider__container {
    min-height: unset;
  }
  .rsmainslider .container {
    padding: 0 16px;
  }
  .rsmainslider__mobileimg {
    margin-bottom: 20px;
  }

  .rsmainslider .slick-track {
    display: flex !important;
  }

  .rsmainslider .slick-slide {
    height: inherit !important;
  }
  .rsmainslider {
    padding-bottom: 32px;
  }
  .rsblock h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    margin-bottom: 16px;
  }
  .rsgrid__items_v5 .rsgrid__item .card {
    padding: 24px 14px 0 14px;
  }
  .rsgrid__items_v5 .rsservice__name {
    height: unset;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    letter-spacing: -0.36px;
    margin-bottom: 20px;
  }
  .rsgrid__items_v5 .rsservice__main {
    margin-bottom: 20px;
  }
  .rsgrid__items_v5 .listblock__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    min-height: unset;
  }
  .rsgrid__items_v5 .card__footer a.cardfooter__link {
    margin: 0 -14px;
    width: calc(100% + 28px);
    padding: 0 10px 0 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
  }
  .rsgrid__items_v5 .card__footer a.cardfooter__link span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  .rsgrid__item {
    margin-bottom: 10px;
    padding: 0 16px;
  }
  .rsgrid__items {
    margin: 0 -16px;
  }

  .rsgrid__item_type2 .rsservice__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .rsgrid__item_type2 .rsservice__image {
    height: unset;
  }
  .rsgrid__item_type2 .rsservice {
    min-height: unset;
  }
  .rsgrid__item_type2 .rsservice__name {
    max-width: 173px;
    margin-left: 20px;
  }
  .rsblock_v5 .rsgrid__item.rsgrid__item_type2 {
    margin: 22px 0;
  }
  .rsmainslider_static {
    padding-bottom: 16px;
  }
  .blueblock_pkr .blueblock__wrapper {
    padding: 32px 25px;
  }
  .blueblock_pkr .blueblock__text_small p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.35px;
  }
}

@media (max-width: 480px) {
  .blueblock--app .blueblock__wrapper--columns .blueblock__buttons a {
    margin: 0;
    max-width: 150px;
    min-width: 150px;
  }
}
